<package-def>
	<class name="Поиск" file="src/Классы/Поиск.os"/>
	<class name="ПростойПоиск" file="src/Классы/ПростойПоиск.os"/>
	<class name="Матрица" file="src/Классы/Матрица.os"/>
	<class name="Слово" file="src/Классы/Слово.os"/>
	<class name="ОбъектАнализа" file="src/Классы/ОбъектАнализа.os"/>
	<class name="ЯзыковойНабор" file="src/Классы/ЯзыковойНабор.os"/>
	<class name="УправлениеКонсолью" file="src/Классы/УправлениеКонсолью.os"/>
	<module name="ВидыПоиска" file="src/Модули/ВидыПоиска.os"/>
</package-def>